html{
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;
	overflow: hidden;
	font-weight: bold;
}

body{
	
	
	width:100%;
	height: 100%;

}



.fields{
	height:100%;
	width:93.75%;
	
	left:50%;
	margin: 0px auto;
	max-width:1000px;
	
	
}
.firstfield{
	position: relative;
	float: left;
	
	height:50%;
	width: 50%;
}
.playerName1{
	position: relative;
	left:50%;
}
.leters1{
	position: relative;
	left:2%;
	height: 20px;
}
.l1{
	display:inline-block;
	margin-right: 5.5%;

}
.numbers1{
	
	position:relative;
	float:left;
	height:95%;
	
}
li{
	position: relative;
	top:5%;

	margin-bottom:  150%;
	list-style: none;
}
ul{
	height: 100%;
	margin:0;
	padding: 0;
}
.field1{
	border-radius: 8px;
	position: relative;
	top:6%;
	padding: 0px;
	margin: 0px;
	width:90%;
	height:90%;
	
	float: left;
}
.secondfield{
	visibility: hidden;
	position: relative;
	float: right;
	
	height:50%;
	width: 50%;
}
.playerName2{
	position: relative;
	left:50%;
}

.leters2{
	position: relative;
	left:5%;
	height: 20px;
}
.l2{
	display:inline-block;
	margin-right: 5.5%;
}
.numbers2{
	position:relative;
	float:left;
	
}


.field2{
	border-radius: 8px;
	position: relative;
	top:6%;
	padding: 0px;
	margin: 0px;
	width:90%;
	height:90%;
	
	float: right;
}
.square{
	margin-right: 2px;
	position: relative;
	display:inline-block;
	width:8%;
	height: 8%;
	border:1px solid black;
}
.square:hover{
	background-color: grey;
}
.ship{
	background-color: black;
}
.nextPlayer{
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	position: absolute;
	top:10%;
	border-radius: 8px;
	float: left;
	width: 90px;
	height: 75px;
	left: 50%;
	margin-left: -45px;
	
	
	
}
.startGame{
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	visibility: hidden;
	position: absolute;
	top:10%;
	border-radius: 8px;
	float: left;
	width: 90px;
	height: 75px;
	left: 50%;
	margin-left: -45px;
	
}



img{
	margin-left: 20px;
}
img:hover{
	cursor: pointer;
}
.ranking1{
	position: relative;
	width:4%;
	
	
}
.ranking1g{
	position: relative;
	width:4%;
	top:2%;
	
}
.ranking2{
	position: relative;
	width:4%;
	top:2%;
	
}
.ranking2g{
	position: relative;
	width:8%;
	top:2%;
	height:4%;
}
.ranking3{
	position: relative;
	top:2%;
	width:4%;
	height: 120px;
}
.ranking3g{
	position: relative;
	top:2%;
	width:11%;
	height:4%;
}
.ranking4{
	position: relative;
	width:4%;
	top:2%;
	height: 160px;
}
.ranking4g{
	position: relative;
	top:2%;
	width:15%;
	height: 4%;
}
.getted{
	background: red;
}
.miss{
	background: grey;
}
