html{
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;
	overflow: hidden;
	font-weight: bold;
}

body{
	
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;

}
.wrapper{

	position: relative;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	background-color: #AFEEEE;
}
.PvP{

	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	border-radius: 40px;
	width: 15%;
	height: 8%;
	position: absolute;
	top:30%;
	left:50%;
	float: left;
	margin-left: -8%;
}
.PvC{
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	border-radius: 40px;
	width: 15%;
	height: 8%;
	position: absolute;
	top:60%;
	left:50%;
	margin-left: -8%;
}

.fields{
	height:455px;
	
	left:50%;
	margin-left: -475px;
	width:1050px;
	position: relative;
	float: top;
}
.firstfield{
	position: relative;
	float: left;
	
	width: 450px;
}
.playerName1{
	position: relative;
	left:50%;
}
.leters1{
	position: relative;
	left:10%;
	height: 20px;
}
.l1{
	display:inline-block;
	margin-right: 27px;
}
.numbers1{
	top:15%;
	position:relative;
	float:left;
	height:400px;
	padding-left: 3%;
}
li{
	margin-bottom: 26px;
	list-style: none;
}
ul{
	margin:0;
	padding: 0;
}
.field1{
	border-radius: 8px;
	position: relative;
	
	padding: 0px;
	margin: 0px;
	width:420px;
	height:435px;
	float: left;
}
.secondfield{
	visibility: hidden;
	position: relative;
	float: left;
	left:150px;
	width: 450px;
}
.playerName2{
	position: relative;
	left:50%;
}

.leters2{
	position: relative;
	left:7%;
	
	height: 20px;
}
.l2{
	display:inline-block;
	margin-right: 27px;
}
.numbers2{
	top:6%;
	position:relative;
	float:left;
	height:435px;
}


.field2{
	border-radius: 8px;
	position: relative;
	
	float:left;
	
	padding: 0px;
	margin: 0px;
	width:420px;
	height:435px;
}
.square{
	margin-right: 2px;
	position: relative;
	display:inline-block;
	width:38px;
	height: 38px;
	border:1px solid black;
}
.square:hover{
	background-color: grey;
}
.ship{
	background-color: black;
}
.nextPlayer{
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	position: absolute;
	top:10%;
	border-radius: 8px;
	float: left;
	width: 90px;
	height: 75px;
	left: 50%;
	margin-left: -45px;
	
	
	
}
.startGame{
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	visibility: hidden;
	position: absolute;
	top:10%;
	border-radius: 8px;
	float: left;
	width: 90px;
	height: 75px;
	left: 50%;
	margin-left: -45px;
	
}

.ranking{
	position: relative;
	top: 3%;
	left: 50%;
	margin-left: -350px;
	width:700px;
}

img{
	margin-left: 20px;
}
img:hover{
	cursor: pointer;
}
.ranking1{
	position: relative;
	width:38px;
	height: 38px;
	
}
.ranking1g{
	position: relative;
	width:38px;
	height: 38px;
}
.ranking2{
	position: relative;
	width:38px;
	height: 80px;
}
.ranking2g{
	position: relative;
	width:80px;
	height: 38px;
}
.ranking3{
	position: relative;
	width:38;
	height: 120px;
}
.ranking3g{
	position: relative;
	width:120px;
	height: 38px;
}
.ranking4{
	position: relative;
	width:38px;
	height: 160px;
}
.ranking4g{
	position: relative;
	width:160px;
	height: 38px;
}
.getted{
	background: red;
}
.miss{
	background: grey;
}
