.none {
    display: none !important;
}
html{
    width:100%;
    min-height:100%;
}

body {
    background: rgb(79,113,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(79,113,153,1) 0%, rgba(41,137,216,1) 50%, rgba(52,134,201,1) 52%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(79,113,153,1) 0%,rgba(41,137,216,1) 50%,rgba(52,134,201,1) 52%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(79,113,153,1) 0%,rgba(41,137,216,1) 50%,rgba(52,134,201,1) 52%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f7199', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    min-height:100%;
    font-family: sans-serif;

}
.wrapper{
    width:950px;
    margin:0 auto;
}

p {
    margin: 0 0 5px;
}

.article {
    background: #FFF;
    border: 1px solid rgba(0, 89, 181, 0.82);
    width: 600px;
    margin: 0 0 5px;
    box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
    padding: 3px 5px;
}

.news__author {
    text-decoration: underline;
    color: #007DDC;
}
.news__count {
    margin: 10px 0 0 0;
    display: block;
}
.customSubmit{
    margin: 0 5px 5px 0;
}
.add {
    margin: 0 5px 5px 0;
    width: 210px;
    border: 1px dashed rgba(0, 89, 181, 0.82);
    padding: 5px;
}
.add_author, .add_text, .add_btn, .add_checkrule {
    display: block;
    margin: 0 0 5px 0;
    padding: 5px;
    width: 94%;
    border: 1px solid rgba(0, 89, 181, 0.82);
}
.add_checkrule {
    border: none;
    font-size: 12px;
}
.add_btn {
    box-sizing: content-box;
    color: #FFF;
    text-transform: uppercase;
    background: #007DDC;
}
.add_btn:disabled {
    background: #CCC;
    color: #999;
}