@import url('https://fonts.googleapis.com/css?family=Oswald');

.widget{
    font-family: 'Oswald', sans-serif;
    color:#fff;
    border-radius: 40px;
    border:1px solid black;
    width:400px;
    height:200px;
    background: rgb(28,129,173); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(28,129,173,1) 0%, rgba(31,172,215,1) 49%, rgba(28,129,173,1) 100%, rgba(28,129,173,1) 100%, rgba(28,129,173,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(28,129,173,1) 0%,rgba(31,172,215,1) 49%,rgba(28,129,173,1) 100%,rgba(28,129,173,1) 100%,rgba(28,129,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(28,129,173,1) 0%,rgba(31,172,215,1) 49%,rgba(28,129,173,1) 100%,rgba(28,129,173,1) 100%,rgba(28,129,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c81ad', endColorstr='#1c81ad',GradientType=0 ); /* IE6-9 */
}
.icon{

    float:left;
    padding-left: 20px;
    padding-top: 70px;


 
}
.temp{
    position: relative;
    width:170px;
    font-size:70px;
    padding-top: 40px;
    float:left;

}
.city{
    text-align: right;
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    float:right;
    padding-right:10px;
}
.curDate{
    text-align: right;
    position: relative;
    font-size: 12px;
    width:150px;
    float:right;
    padding-right:10px;
}
.watch{
    text-align: right;
    font-size: 12px;
    width:150px;
    float:right;
    padding-right:10px;
}
.humidity{
    text-align: right;
    font-size: 12px;
    padding-top: 50px;
    width:150px;
    float:right;
    padding-right:10px;
}
.pressure{
    text-align: right;
    font-size: 12px;
    width:150px;
    float:right;
    padding-right:10px;
}
.wind{
    text-align: right;
    font-size: 12px;
    width:150px;
    float:right;
    padding-right:10px;
}
.descr{
    text-align: left;
    font-size: 20px;
    float:left;
    padding-left:70px;
}
